<h2 class="page-header">Dashboard</h2>
<p>Welcome to the dashboard</p>
{{!-- 
{{#if user.facebook}}

<h4>Welcome {{user.facebook.name}}</h4>
{{else}}
<h4>Welcome {{user.name}}</h4>
{{/if}} --}}
{{#if user.twitter}} 
   <h4>Welcome {{user.twitter.name}}</h4>
   {{/if}}